.nav-link.active{
    color: var(--main-color) !important;
}
@media screen and (max-width:767px) {
    .social-nav {
        display: none;
    }
    .navbar.navbar-expand-md.navbar-light.bg-white{
        position: fixed !important;
        top: 0;
        z-index: 2;
        width: 100%;
    }
}